
*{
    box-sizing: border-box;
}
input {
    padding:10px;
      font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    border-radius: 0 !important;
  }
  
  .form-control {
    border-radius: 0 !important;
    font-size: 12x;
  }
  
  .clickable { cursor: pointer; }
  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
 
  
  .container .btn {
    position: absolute;
    top: 80%;
    left: 29%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: black;
  }
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
 


  
  * {
    box-sizing: border-box;
    
    padding: 0;
    
  }
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .display1 * {
    display:inline;
  
  }
  
  .display2 {
    display:inline-block;
  }
  .border ul{
    border: 1px seagreen;
  }

  .right {
    position: absolute;
    left:58%;
  }
  .right2{
    margin-left:20px;
  }
  .left{
    position: absolute;

    
  }
  .padding {
 padding: 8px;
  }

  .back-col{
    background-color: rgb(22, 18, 148);
    margin-left: -190px !important;  
    margin-right: -190px !important;
    height:400px;
  }
  .main-container{
    margin-left:175px;
    margin-right:175px;
  }

    
  
  .center{
    margin-left:195px;
  }
  .col1{
    color:white;
  }
  
  .navigation ul li a {
    text-decoration: none !important;
    color:white;
  }
  div .fonts a{   
    text-decoration: none !important;
    color:white;
    font-size:25px;

  }
  .margin-t{
    margin-top:150px;
  }
  .margin-t a{
    margin-top:15px;
  }
  .navi ul li a{
    font-size:16px;
    text-decoration: none;
    padding:10px;
    color:white;
  }
  div ul li button a{
    background-color: white !important;
    color:rgb(30, 30, 125) !important;

  }
  .font-three{
    font-size:45px;
  }
  .font-four{
    font-size:30px;
  }